$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    // padding-top: 20px;
    // padding-bottom: 20px;
    background-color: #3E3F49;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

// Overwriting Bootstrap defaults
// fixed the navbar padding
.navbar-area {
    padding-right: 0px;

    .nav-options {
        padding-left: 0px;
        font-size: 18px;

        .branding {
            background-color: rgb(30, 31, 37);
            width: 100%;
            padding: 10px 0px;

            .text-muted {
                color: #FC3386;
            }
        }

        a {
            color: #fff;
        }

        img {
            width: 40px;
            filter: grayscale(100%);
        }

        span {
            padding-left: 10px;

            &.no-face {
                padding-left: 53px;
                font-size: 22px;
            }
        }

        .nav-option {
            border-bottom: 1px solid gray;
            padding: 15px 0px;

            &:hover {
                border-bottom: 1px solid #373847;
                background-color: none;
            }

        &:hover {
            img {
                filter: grayscale(0);
            }

            a {
                color: #FC3386;
                text-decoration: none;
            }
        }
        }
    }

    
}

.main-area {
    padding: 0px;
    margin: 0px;
}

.selection-area {
    position: relative;
    padding: 0px;

        .expanded-container {
            position: fixed;
            z-index: 5;
            width: 76%;

            .artist-expanded-container {
                padding: 0px;
                margin: 0px;    
                background: #4b4b50;
            }

            .close {
                margin-right: 20px; 
            }
        }
        .main-selection-area {
            padding: 0px;


            .artist-small-container {
                height: 265px;
                position: relative;
                margin: 0px;
                padding: 0px;

                .artist-small-image {
                    filter: grayscale(60%);
                    position: absolute;
                    height: 100%;
                    width: 100%;

                    &:hover {
                    filter: grayscale(0%);
                    }
                }

                h3 {
                    color: white;
                    text-shadow: 1px 2px 2px black;
                    position: absolute;
                    bottom: 0px;
                    right: 0px;
                    padding: 15px;
                }
            }
        }
    }


.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
